.slider {
    background-color:   rgba(30, 58, 138, 0.8);
    position: absolute;
    bottom: 0%;
    width: 100%;
    .slides {
        display: flex;
        width: fit-content;
        margin: auto;
    }

    .slider-img {
        padding: 15px 5px 5px;
    }

    .slides-btns {
        text-align: center;
    }
    .slides-btns button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .active {
        color: white;
    }

    .inactive {
        color: gray;
    }
}