.climb-navbar {
  display: flex;
  background-color: #1e3a8a;
  padding: 0px;
  height: fit-content;

  .climb-navbar-list {
    width: 60%;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .climb-navbar-list li {
    list-style: none;
  }

  .climb-navbar-list li a {
    text-decoration: underline;
    text-decoration-color: #1e3a8a;
    text-underline-offset: 4px;
  }
  .climb-navbar-list .mountain-2 {
    margin-left: 20px;
  }

  .active-mountain-list {
    color: #1e3a8a;
    background-color: #e5e7eb;
    font-weight: 600;
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    padding: 1px 16px;
    text-decoration: none;
  }

  .inactive-mountain-list {
    color: #e5e7eb;
    font-weight: 600;
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    padding: 1px 16px;
    text-decoration: none;
  }
}

@media screen and (max-width: 400px) {
  .climb-navbar {
    .climb-navbar-list {
      width: 100%;
    }
    .active-mountain-list {
      font-size: 20px;
      font-weight: 500;
      padding: 2px 8px;
    }
    .inactive-mountain-list {
      font-size: 20px;
      font-weight: 500;
      padding: 2px 8px;
    }
  }
}
