nav {
  display: flex;
  justify-content: space-evenly;
  padding: 6px;
  height: 30px;
  width: auto;

  .nav-bar-list {
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }

  .text {
    margin-left: 10px;
  }

  .nav-bar-list li {
    width: max-content;
    margin: 1px 15px;
    padding: 2px 4px;
    text-decoration: underline;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    height: fit-content;
  }

  .nav-bar-list li a {
    text-decoration: none;
    color: white;
  }

  .nav-section-bar-list {
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }

  .nav-section-bar-list li {
    width: max-content;
    margin: 1px 15px;
    padding: 2px 4px;
    text-decoration: underline;
    color: darkslateblue;
    text-decoration: none;
    border-bottom: 1px solid darkslateblue;
    height: fit-content;
  }

  .nav-section-bar-list li a {
    text-decoration: none;
    color: darkslateblue;
  }
}

.nav-section {
  margin: 15px;
}

.climb-navbar {
  display: flex;
  background-color: #1e3a8a;
  padding: 0px;
  height: fit-content;

  .climb-navbar-list {
    width: 60%;
    display: flex;
    align-items: center;
    margin: 0px;
  }

  .climb-navbar-list li {
    list-style: none;
  }

  .climb-navbar-list li a {
    text-decoration: underline;
    text-decoration-color: #1e3a8a;
    text-underline-offset: 4px;
  }
  .climb-navbar-list .mountain-2 {
    margin-left: 20px;
  }

  .active-mountain-list {
    color: #1e3a8a;
    background-color: #e5e7eb;
    font-weight: 600;
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    padding: 1px 16px;
    text-decoration: none;
  }

  .inactive-mountain-list {
    color: #e5e7eb;
    font-weight: 600;
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    padding: 1px 16px;
    text-decoration: none;
  }
}

.nav-bar-mobile-btn {
  right: 5px;
  top: 20px;
  position: absolute;
  background-color: white;
  border: none;
  border-radius: 15%;
  margin: 10px;
  z-index: 500;
}

.nav-bar-mobile-btn img {
  width: 24px;
  height: 24px;
}

.nav-mobile {
  position: relative;
  z-index: 200;
  width: 100%;
  background-color: rgba(229, 231, 235, 0.9);
  height: 100vh;

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 400px) {
  //section-navbar
  .nav-section {
    .text {
      width: 80px;
      height: 40px;
    }

    .logo {
      width: 30px;
      height: 30px;
    }
  }

  // climb navbar
  .climb-navbar {
    background-color: red;
    .climb-navbar-list {
      width: 100%;
    }

    .active-mountain-list {
      font-size: 16px;
      font-weight: 500;
    }
    .inactive-mountain-list {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
