nav {
  display: flex;
  justify-content: space-evenly;
  padding: 6px;

  .nav-bar-list {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.text {
  margin-left: 10px;
}

  .nav-bar-list li {
    width: max-content;
    margin: 1px 15px;
    padding: 2px 4px;
    text-decoration: underline;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    height: fit-content;
  }

  .nav-bar-list li a {
    text-decoration: none;
    color: white;
}

.nav-section-bar-list {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.nav-section-bar-list li {
  width: max-content;
    margin: 1px 15px;
    padding: 2px 4px;
    text-decoration: underline;
    color: darkslateblue;
    text-decoration: none;
    border-bottom: 1px solid darkslateblue;
    height: fit-content;

 }

 .nav-section-bar-list li a {
  text-decoration: none;
  color:darkslateblue;
 }
}

.nav-section {
  margin: 15px;
}