.climb-section {
  background-image: url("../assets/img/bg2.png");
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;

  .climb-list-section {
    width: 60%;
    margin: auto;
  }
  .climb-list {
    background-color: whitesmoke;
    margin-top: 80px;
    width: 350px;
    opacity: 0.8;
  }

  .climb-list h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 32px;
    padding: 20px 4px 4px;
    font-weight: 600;
    color: #1e3a8a;
  }

  .climb-list-element {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

@media screen and (max-width: 400px) {
  .climb-section {
    .climb-list-section {
      width: 100%;
    }

    .climb-list {
      margin: 40px 20px;
      width: 250px;
    }

    .climb-list h1 {
        font-size: 16px;
        padding: 8px 4px 4px;
    }

    
  }
}
