.climb {
    width: 60%;
    margin: auto;
  .climb-head {
    display: flex;
    align-items: center;
  }

  .heading-1 {
    width: fit-content;
  }

  .heading-2 {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
    align-items: baseline;
  }


  .climb-heading {
    display: flex;
    padding: 2px;
    margin: 20px 5px;
  }

  .climb-heading h1 {
    font-size: 112px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    opacity: 0.5;

  }

  .climb-heading h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: 700;
  }

  .climb-heading h3 {
    font-size: 28px;
    height: fit-content;
    opacity: 0.5;
  }

 
  h2 {
    margin: 0px;
    color: darkslateblue;
  }

  h1,
  h3 {
    margin: 0px;
    color: grey;
  }

  .climb-para {
    padding-left: 15px;
  }
}

.climb-list-footer {
  height: 40px;
  background-color: #1e3a8a;
}

@media screen and (max-width: 400px) {
  .climb {
    .climb-head {
      flex-direction: column;
    }
    .climb-heading {
      margin: 5px 2px;
    }
    .climb-heading h2 {
      font-size: 20px;
      font-weight: 500;
    }

    .climb-heading h3 {
      font-size: 16px;
    }
    .climb-heading h1 { 
      font-size: 48px;
    }

    .heading-2 {
      padding-top: 5px;
    }
  }
}